<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Text</title>
    <style>
        body {
            padding: .5em;
            margin: 0 auto;
            line-height: 1.6;
            letter-spacing: .1ch;
            background-color: #1e1f29;
            color: #f8f8f2;
        }
        pre {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<pre>
{{ text }}
</pre>
</body>
</html>
